.Cart-Container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  padding-right: .75rem;
  padding-left: .75rem;
  padding-bottom: 1.75rem;
  padding-top: 1.75rem;
  margin-right: auto;
  margin-left: auto;
}

.Cart-Container {
  width: 95%;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding-right: .75rem;
  padding-left: .75rem;
  padding-bottom: .75rem;
  padding-top: .75rem;
  margin-right: auto;
  margin-left: auto;
}

.container-form-1 {
  width: 30%;
  padding-right: .75rem;
  padding-left: .75rem;
  padding-bottom: .75rem;
  padding-top: .75rem;
  margin-right: auto;
  margin-left: auto;

}

.container-form-1 h3 {
  margin: auto;

  text-align: center;
}

.container-form-1 p {
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.container-form-2 {
  width: 69%;
  padding-right: .75rem;
  padding-left: .75rem;
  padding-bottom: .75rem;
  padding-top: .75rem;
  margin-right: auto;
  margin-left: auto;
  height: 95%;
}

.container-form-3 {
  width: 1px;
  border-left: 1px solid rgba(0, 0, 0, 0.692);
}

.Header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Heading {
  font-size: 20px;
  color: #2F3841;
}

.Action {
  font-size: 14px;
  color: #E44C4C;
  cursor: pointer;
  border-bottom: 1px solid #E44C4C;
}


hr {
  width: 66%;
  float: right;
  border: dashed 0.5px rgb(97, 97, 97);

}

.checkout {
  float: right;
  width: 50%;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Subtotal {
  font-size: 22px;
  color: #202020;
}

.items {
  font-size: 16px;
  color: #909090;
  line-height: 10px;
}

.total-amount {
  font-size: 36px;
  color: #202020;
}

.button-checkout {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: green;
  margin-top: 20px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.form-row {
  margin-top: 10px;
}

.container-form-1 {
  width: 30%;
}

.container-form-2 {
  width: 70%;
}