.bk-fondo-footer {
  background-color: #333
}

.bk-fondo-footer-claro {
  background-color: #333
}

.footer {
 /*  position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#333;
  color: white;
  text-align: center;
  height: 30px;
}